html {
    background-color: #202124;
    font-family: roboto, arial, helvetica, sans-serif;
}

li {
    display: inline;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: underline;
}

.google-logo {
    width: 400px;
}

.logo {
    position: relative;
}

#image-logo {
    color: #4487f6;
    bottom: 0px;
    left: 315px;
    position: absolute;
    font-size: 24px;
}

.search {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 30px;
    margin-right: 20px;
}

.btn-box {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.btn {
    height: 40px;
    width: 160px;
    background-color: #3c4043;
    color: white;
    border-radius: 5px;
    border: none;
    margin-top: 20px;
    font-size: 16px;
}

.btn:hover {
    border: 1px solid gray;
}

.search-bar {
    border-radius: 25px;
    background-color: #202124;
    border: 1px solid rgb(107, 103, 103);
    color: white;
    font-size: 20px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 30px;
    width: 600px;
    height: 45px;
    flex: 1 2 auto;
}

.search-bar:hover {
    background-color: #3c4043;
    border: none;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10%;
}